flows_tmp.json
[{"id":"6987566.07ee428","type":"tab","label":"Flow 9"},{"id":"df35bd0e.f56c3","type":"boserver","z":"","host":"192.168.1.162","port":"9090"},{"id":"6dd879d0.0ccd38","type":"boserver","z":"","host":"localhost","port":"9090"},{"id":"a55d6ace.dc1d08","type":"boserver","z":"","host":"192.168.1.170","port":"9090"},{"id":"2191d4c.26ffbac","type":"inject","z":"6987566.07ee428","name":"Start training","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":271.23333740234375,"y":97.23332977294922,"wires":[["4a2e3d9a.e7a81c"]]},{"id":"4a2e3d9a.e7a81c","type":"BigObject training","z":"6987566.07ee428","name":"","boserver":"a55d6ace.dc1d08","stmt":"select * from feature","method":"tfDNN","normalize":true,"modelname":"test","nclass":"5","trainsteps":"20","hiddenlayer":"[10,20]","x":456.23333740234375,"y":96.83330535888672,"wires":[["b40d36e7.324d9"]]},{"id":"2dfb5b49.68be84","type":"BigObject prediction","z":"6987566.07ee428","name":"","boserver":"a55d6ace.dc1d08","stmt":"SELECT 0.03,0.14,0.24,16.90","method":"tfDNN","normalize":true,"modelname":"test","index":"0,1,2,3","save":"","nclass":"5","hiddenlayer":"[10,20]","x":479.23333740234375,"y":272.7666549682617,"wires":[["f704b3a6.74c6a8"]]},{"id":"3676a9ce.442f3e","type":"inject","z":"6987566.07ee428","name":"Start prediction","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":279.1000061035156,"y":272.46666717529297,"wires":[["2dfb5b49.68be84"]]},{"id":"b40d36e7.324d9","type":"debug","z":"6987566.07ee428","name":"Result","active":true,"console":"false","complete":"true","x":631.2333374023438,"y":96.90001678466797,"wires":[]},{"id":"f704b3a6.74c6a8","type":"debug","z":"6987566.07ee428","name":"Result","active":true,"console":"false","complete":"true","x":652.2333374023438,"y":273.2333450317383,"wires":[]},{"id":"b618a8d8.be1148","type":"BigObject optimize","z":"6987566.07ee428","name":"","boserver":"a55d6ace.dc1d08","method":"brute force","target":"SGD","targetarg":"testsgd True [0,1,2,3]","boundmin":"0,0,0,0","boundmax":"1,1,1,99","minimizer":"L-BFGS-B","initvalue":"","tolerance":"","iteration":"","x":480.73333740234375,"y":450.2333297729492,"wires":[["1b1528d9.a8de5f"]]},{"id":"12e5e88e.b0b04f","type":"inject","z":"6987566.07ee428","name":"Start optimization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":265.23333740234375,"y":451.2333297729492,"wires":[["b618a8d8.be1148"]]},{"id":"1b1528d9.a8de5f","type":"debug","z":"6987566.07ee428","name":"Result","active":true,"console":"false","complete":"true","x":666.2333374023438,"y":450.2333297729492,"wires":[]}]
