gen_tmp_flow.json
[{"id":"6987566.07ee428","type":"tab","label":"Template flows"},{"id":"6dd879d0.0ccd38","type":"boserver","z":"","host":"10.0.3.15","port":"9090"}
,{"id":"2191d4c.26ffbac","type":"inject","z":"6987566.07ee428","name":"Start training","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":271.23333740234375,"y":97.23332977294922,"wires":[["4a2e3d9a.e7a81c"]]},{"id":"4a2e3d9a.e7a81c","type":"BigObject training","z":"6987566.07ee428","name":"","boserver":"6dd879d0.0ccd38","stmt":"select * from feature","method":"SGDNL","normalize":true,"modelname":"testsgd","nclass":"","trainsteps":"20","hiddenlayer":"","x":456.23333740234375,"y":96.83330535888672,"wires":[["b40d36e7.324d9","53c6e63d.a44148"]]},{"id":"b40d36e7.324d9","type":"debug","z":"6987566.07ee428","name":"Result","active":true,"console":"false","complete":"true","x":1114.2333374023438,"y":92.9000244140625,"wires":[]},{"id":"53c6e63d.a44148","type":"function","z":"6987566.07ee428","name":"message prepare","func":"msg.header={'content-type': 'application/json'};\nvar t= new Date();\nmsg.payload={\"channel\":\"/msg\",\"time\":t.toLocaleString('en-US', {'timeZone':'Asia/Taipei'}),\"server\":\"localhost\",\"type\":\"server\",\"event\":\"training\",\"msg\":JSON.stringify(msg.payload.content)};\nreturn msg;","outputs":1,"noerr":0,"x":684.5,"y":173,"wires":[["15c04052.686a88"]]},{"id":"15c04052.686a88","type":"http request","z":"6987566.07ee428","name":"send message","method":"POST","ret":"txt","url":"http://10.0.3.15:8000/pub","tls":"","x":924.5,"y":173,"wires":[["b40d36e7.324d9"]]},{"id":"3676a9ce.442f3e","type":"inject","z":"6987566.07ee428","name":"Start prediction","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":279.1000061035156,"y":272.46666717529297,"wires":[["2dfb5b49.68be84"]]},{"id":"2dfb5b49.68be84","type":"BigObject prediction","z":"6987566.07ee428","name":"","boserver":"6dd879d0.0ccd38","stmt":"SELECT 0.03,0.14,0.24,16.90","method":"SGDNL","normalize":true,"modelname":"testsgd","index":"0,1,2,3","save":"","nclass":"","hiddenlayer":"","x":479.23333740234375,"y":272.7666549682617,"wires":[["f704b3a6.74c6a8","f4499694.f61b1"]]},{"id":"f704b3a6.74c6a8","type":"debug","z":"6987566.07ee428","name":"Result","active":true,"console":"false","complete":"true","x":1115.2333374023438,"y":274.23333740234375,"wires":[]},{"id":"f4499694.f61b1","type":"function","z":"6987566.07ee428","name":"message prepare","func":"msg.header={'content-type': 'application/json'};\nvar t= new Date();\nmsg.payload={\"channel\":\"/msg\",\"time\":t.toLocaleString('en-US', {'timeZone':'Asia/Taipei'}),\"server\":\"localhost\",\"type\":\"server\",\"event\":\"prediction\",\"msg\":JSON.stringify(msg.payload.content)};\nreturn msg;","outputs":1,"noerr":0,"x":679,"y":353,"wires":[["6cc1a60.d6767dc"]]},{"id":"6cc1a60.d6767dc","type":"http request","z":"6987566.07ee428","name":"send message","method":"POST","ret":"txt","url":"http://10.0.3.15:8000/pub","tls":"","x":919,"y":353,"wires":[["f704b3a6.74c6a8"]]},{"id":"28afed36.48693a","type":"inject","z":"6987566.07ee428","name":"Set normalization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":265,"y":548.9998779296875,"wires":[["afbc2499.40c808"]]},{"id":"afbc2499.40c808","type":"Set Normalization for training","z":"6987566.07ee428","name":"","boserver":"6dd879d0.0ccd38","stmt":"select * from feature","method":"SGDNL","modelname":"testsgd","x":580.13330078125,"y":550.0665893554688,"wires":[["e7ed976c.02517","1678d47f.c8be7c"]]},{"id":"e7ed976c.02517","type":"debug","z":"6987566.07ee428","name":"Result","active":true,"console":"false","complete":"true","x":1130,"y":551,"wires":[]},{"id":"a0a1cbb.3e8b938","type":"http request","z":"6987566.07ee428","name":"send message","method":"POST","ret":"txt","url":"http://10.0.3.15:8000/pub","tls":"","x":898,"y":628,"wires":[["e7ed976c.02517"]]},{"id":"1678d47f.c8be7c","type":"function","z":"6987566.07ee428","name":"message prepare","func":"msg.header={'content-type': 'application/json'};\nvar t= new Date();\nmsg.payload={\"channel\":\"/msg\",\"time\":t.toLocaleString('en-US', {'timeZone':'Asia/Taipei'}),\"server\":\"localhost\",\"type\":\"server\",\"event\":\"normalization\",\"msg\":JSON.stringify(msg.payload.content)};\nreturn msg;","outputs":1,"noerr":0,"x":658,"y":628,"wires":[["a0a1cbb.3e8b938"]]},{"id":"e5388b2d.901128","type":"inject","z":"6987566.07ee428","name":"Remove model","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":263,"y":701,"wires":[["6f086c2f.a3ad2c"]]},{"id":"6f086c2f.a3ad2c","type":"Remove training model","z":"6987566.07ee428","name":"","boserver":"6dd879d0.0ccd38","method":"SGDNL","modelname":"testsgd","x":553.13330078125,"y":701.7666625976562,"wires":[["4d26fd03.a5d36c","ce92a9c3.b255f"]]},{"id":"4d26fd03.a5d36c","type":"debug","z":"6987566.07ee428","name":"Result","active":true,"console":"false","complete":"true","x":1147,"y":698,"wires":[]},{"id":"2e25a5c3.8ac85a","type":"http request","z":"6987566.07ee428","name":"send message","method":"POST","ret":"txt","url":"http://10.0.3.15:8000/pub","tls":"","x":898,"y":773,"wires":[["4d26fd03.a5d36c"]]},{"id":"ce92a9c3.b255f","type":"function","z":"6987566.07ee428","name":"message prepare","func":"msg.header={'content-type': 'application/json'};\nvar t= new Date();\nmsg.payload={\"channel\":\"/msg\",\"time\":t.toLocaleString('en-US', {'timeZone':'Asia/Taipei'}),\"server\":\"localhost\",\"type\":\"server\",\"event\":\"clear\",\"msg\":JSON.stringify(msg.payload.content)};\nreturn msg;","outputs":1,"noerr":0,"x":658,"y":773,"wires":[["2e25a5c3.8ac85a"]]},{"id":"12e5e88e.b0b04f","type":"inject","z":"6987566.07ee428","name":"Start optimization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":265.23333740234375,"y":411.2333297729492,"wires":[["b618a8d8.be1148"]]},{"id":"b618a8d8.be1148","type":"BigObject optimize","z":"6987566.07ee428","name":"","boserver":"6dd879d0.0ccd38","method":"basin hopping","target":"SGDNL","targetarg":"testsgd True []","boundmin":"0,0,0,0","boundmax":"1,1,1,99","minimizer":"L-BFGS-B","initvalue":"0.5,0.5,0.5,45","tolerance":"1e0","iteration":"100","x":480.73333740234375,"y":410.2333297729492,"wires":[["1b1528d9.a8de5f","d3a76162.569e7"]]},{"id":"1b1528d9.a8de5f","type":"debug","z":"6987566.07ee428","name":"Result","active":true,"console":"false","complete":"true","x":1178.2333374023438,"y":405.23333740234375,"wires":[]},{"id":"f3b0084c.605f8","type":"http request","z":"6987566.07ee428","name":"send message","method":"POST","ret":"txt","url":"http://10.0.3.15:8000/pub","tls":"","x":929,"y":478,"wires":[["1b1528d9.a8de5f"]]},{"id":"d3a76162.569e7","type":"function","z":"6987566.07ee428","name":"message prepare","func":"msg.header={'content-type': 'application/json'};\nvar t= new Date();\nmsg.payload={\"channel\":\"/msg\",\"time\":t.toLocaleString('en-US', {'timeZone':'Asia/Taipei'}),\"server\":\"localhost\",\"type\":\"server\",\"event\":\"optimization\",\"msg\":JSON.stringify(msg.payload.content)};\nreturn msg;","outputs":1,"noerr":0,"x":689,"y":478,"wires":[["f3b0084c.605f8"]]}]