normalize_flow.txt
[{"id":"28afed36.48693a","type":"inject","z":"6987566.07ee428","name":"Set normalization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":265,"y":548.9998779296875,"wires":[["afbc2499.40c808"]]},{"id":"afbc2499.40c808","type":"Set Normalization for training","z":"6987566.07ee428","name":"","boserver":"6dd879d0.0ccd38","stmt":"select * from feature","method":"tfDNN","modelname":"test","x":580.13330078125,"y":550.0665893554688,"wires":[["e7ed976c.02517","1678d47f.c8be7c"]]},{"id":"e7ed976c.02517","type":"debug","z":"6987566.07ee428","name":"Result","active":true,"console":"false","complete":"true","x":1130,"y":551,"wires":[]},{"id":"a0a1cbb.3e8b938","type":"http request","z":"6987566.07ee428","name":"send message","method":"POST","ret":"txt","url":"http://10.0.3.15:8000/pub","tls":"","x":898,"y":628,"wires":[["e7ed976c.02517"]]},{"id":"1678d47f.c8be7c","type":"function","z":"6987566.07ee428","name":"message prepare","func":"msg.header={'content-type': 'application/json'};\nvar t= new Date();\nmsg.payload={\"channel\":\"/msg\",\"time\":t.toLocaleString('en-US', {'timeZone':'Asia/Taipei'}),\"server\":\"localhost\",\"type\":\"server\",\"event\":\"normalization\",\"msg\":JSON.stringify(msg.payload.content)};\nreturn msg;","outputs":1,"noerr":0,"x":658,"y":628,"wires":[["a0a1cbb.3e8b938"]]}]
