normalize_flow.txt~
[{"id":"28afed36.48693a","type":"inject","z":"6987566.07ee428","name":"Set normalization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":265,"y":548.9998779296875,"wires":[["afbc2499.40c808"]]},{"id":"afbc2499.40c808","type":"Set Normalization for training","z":"6987566.07ee428","name":"","boserver":"df35bd0e.f56c3","stmt":"select * from feature","method":"tfDNN","modelname":"test","x":580.13330078125,"y":550.0665893554688,"wires":[["e7ed976c.02517"]]},{"id":"e7ed976c.02517","type":"debug","z":"6987566.07ee428","name":"Result","active":true,"console":"false","complete":"true","x":833,"y":549,"wires":[]}]
