optimize_flow.txt
[{"id":"12e5e88e.b0b04f","type":"inject","z":"6987566.07ee428","name":"Start optimization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":265.23333740234375,"y":451.2333297729492,"wires":[["b618a8d8.be1148"]]},{"id":"b618a8d8.be1148","type":"BigObject optimize","z":"6987566.07ee428","name":"","boserver":"6dd879d0.0ccd38","method":"brute force","target":"SGD","targetarg":"testsgd True [0,1,2,3]","boundmin":"0,0,0,0","boundmax":"1,1,1,99","minimizer":"L-BFGS-B","initvalue":"","tolerance":"","iteration":"","x":480.73333740234375,"y":450.2333297729492,"wires":[["1b1528d9.a8de5f"]]},{"id":"1b1528d9.a8de5f","type":"debug","z":"6987566.07ee428","name":"Result","active":true,"console":"false","complete":"true","x":666.2333374023438,"y":450.2333297729492,"wires":[]}]
