optimize_flow.txt
[{"id":"12e5e88e.b0b04f","type":"inject","z":"6987566.07ee428","name":"Start optimization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":265.23333740234375,"y":411.2333297729492,"wires":[["b618a8d8.be1148"]]},{"id":"b618a8d8.be1148","type":"BigObject optimize","z":"6987566.07ee428","name":"","boserver":"6dd879d0.0ccd38","method":"brute force","target":"SGD","targetarg":"testsgd True [0,1,2,3]","boundmin":"0,0,0,0","boundmax":"1,1,1,99","minimizer":"L-BFGS-B","initvalue":"","tolerance":"","iteration":"","x":480.73333740234375,"y":410.2333297729492,"wires":[["1b1528d9.a8de5f","d3a76162.569e7"]]},{"id":"1b1528d9.a8de5f","type":"debug","z":"6987566.07ee428","name":"Result","active":true,"console":"false","complete":"true","x":1178.2333374023438,"y":405.23333740234375,"wires":[]},{"id":"f3b0084c.605f8","type":"http request","z":"6987566.07ee428","name":"send message","method":"POST","ret":"txt","url":"http://10.0.3.15:8000/pub","tls":"","x":929,"y":478,"wires":[["1b1528d9.a8de5f"]]},{"id":"d3a76162.569e7","type":"function","z":"6987566.07ee428","name":"message prepare","func":"msg.header={'content-type': 'application/json'};\nvar t= new Date();\nmsg.payload={\"channel\":\"/msg\",\"time\":t.toLocaleString('en-US', {'timeZone':'Asia/Taipei'}),\"server\":\"localhost\",\"type\":\"server\",\"event\":\"optimization\",\"msg\":JSON.stringify(msg.payload.content)};\nreturn msg;","outputs":1,"noerr":0,"x":689,"y":478,"wires":[["f3b0084c.605f8"]]}]
