prediction_flow.txt
[{"id":"3676a9ce.442f3e","type":"inject","z":"6987566.07ee428","name":"Start prediction","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":279.1000061035156,"y":272.46666717529297,"wires":[["2dfb5b49.68be84"]]},{"id":"2dfb5b49.68be84","type":"BigObject prediction","z":"6987566.07ee428","name":"","boserver":"6dd879d0.0ccd38","stmt":"SELECT 0.03,0.14,0.24,16.90","method":"tfDNN","normalize":true,"modelname":"test","index":"0,1,2,3","save":"","nclass":"5","hiddenlayer":"[10,20]","x":479.23333740234375,"y":272.7666549682617,"wires":[["f704b3a6.74c6a8"]]},{"id":"f704b3a6.74c6a8","type":"debug","z":"6987566.07ee428","name":"Result","active":true,"console":"false","complete":"true","x":652.2333374023438,"y":273.2333450317383,"wires":[]}]
