remove_flow.txt~
[{"id":"e5388b2d.901128","type":"inject","z":"6987566.07ee428","name":"Remove model","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":263,"y":637,"wires":[["6f086c2f.a3ad2c"]]},{"id":"6f086c2f.a3ad2c","type":"Remove training model","z":"6987566.07ee428","name":"","boserver":"6dd879d0.0ccd38","method":"tfDNN","modelname":"test","x":553.13330078125,"y":637.7666625976562,"wires":[["4d26fd03.a5d36c"]]},{"id":"4d26fd03.a5d36c","type":"debug","z":"6987566.07ee428","name":"Result","active":true,"console":"false","complete":"true","x":768,"y":637,"wires":[]}]
