remove_flow.txt
[{"id":"e5388b2d.901128","type":"inject","z":"6987566.07ee428","name":"Remove model","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":263,"y":701,"wires":[["6f086c2f.a3ad2c"]]},{"id":"6f086c2f.a3ad2c","type":"Remove training model","z":"6987566.07ee428","name":"","boserver":"6dd879d0.0ccd38","method":"tfDNN","modelname":"test","x":553.13330078125,"y":701.7666625976562,"wires":[["4d26fd03.a5d36c","ce92a9c3.b255f"]]},{"id":"4d26fd03.a5d36c","type":"debug","z":"6987566.07ee428","name":"Result","active":true,"console":"false","complete":"true","x":1147,"y":698,"wires":[]},{"id":"2e25a5c3.8ac85a","type":"http request","z":"6987566.07ee428","name":"send message","method":"POST","ret":"txt","url":"http://10.0.3.15:8000/pub","tls":"","x":898,"y":773,"wires":[["4d26fd03.a5d36c"]]},{"id":"ce92a9c3.b255f","type":"function","z":"6987566.07ee428","name":"message prepare","func":"msg.header={'content-type': 'application/json'};\nvar t= new Date();\nmsg.payload={\"channel\":\"/msg\",\"time\":t.toLocaleString('en-US', {'timeZone':'Asia/Taipei'}),\"server\":\"localhost\",\"type\":\"server\",\"event\":\"clear\",\"msg\":JSON.stringify(msg.payload.content)};\nreturn msg;","outputs":1,"noerr":0,"x":658,"y":773,"wires":[["2e25a5c3.8ac85a"]]}]
