train_flow.txt
[{"id":"2191d4c.26ffbac","type":"inject","z":"6987566.07ee428","name":"Start training","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":271.23333740234375,"y":97.23332977294922,"wires":[["4a2e3d9a.e7a81c"]]},{"id":"4a2e3d9a.e7a81c","type":"BigObject training","z":"6987566.07ee428","name":"","boserver":"6dd879d0.0ccd38","stmt":"select * from feature","method":"tfDNN","normalize":true,"modelname":"test","nclass":"5","trainsteps":"20","hiddenlayer":"[10,20]","x":456.23333740234375,"y":96.83330535888672,"wires":[["b40d36e7.324d9","53c6e63d.a44148"]]},{"id":"b40d36e7.324d9","type":"debug","z":"6987566.07ee428","name":"Result","active":true,"console":"false","complete":"true","x":1114.2333374023438,"y":92.9000244140625,"wires":[]},{"id":"53c6e63d.a44148","type":"function","z":"6987566.07ee428","name":"message prepare","func":"msg.header={'content-type': 'application/json'};\nvar t= new Date();\nmsg.payload={\"channel\":\"/msg\",\"time\":t.toLocaleString('en-US', {'timeZone':'Asia/Taipei'}),\"server\":\"localhost\",\"type\":\"server\",\"event\":\"training\",\"msg\":JSON.stringify(msg.payload.content)};\nreturn msg;","outputs":1,"noerr":0,"x":684.5,"y":173,"wires":[["15c04052.686a88"]]},{"id":"15c04052.686a88","type":"http request","z":"6987566.07ee428","name":"send message","method":"POST","ret":"txt","url":"http://10.0.3.15:8000/pub","tls":"","x":924.5,"y":173,"wires":[["b40d36e7.324d9"]]}
]
