train_flow.txt
[{"id":"2191d4c.26ffbac","type":"inject","z":"6987566.07ee428","name":"Start training","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":271.23333740234375,"y":97.23332977294922,"wires":[["4a2e3d9a.e7a81c"]]},{"id":"4a2e3d9a.e7a81c","type":"BigObject training","z":"6987566.07ee428","name":"","boserver":"a55d6ace.dc1d08","stmt":"select * from feature","method":"tfDNN","normalize":true,"modelname":"test","nclass":"5","trainsteps":"20","hiddenlayer":"[10,20]","x":456.23333740234375,"y":96.83330535888672,"wires":[["b40d36e7.324d9"]]},{"id":"b40d36e7.324d9","type":"debug","z":"6987566.07ee428","name":"Result","active":true,"console":"false","complete":"true","x":631.2333374023438,"y":96.90001678466797,"wires":[]}]
